.register-cont{
  height: 450px;
  width: 500px; 
  margin: auto;
  margin-top: 150px;
  /* border: 1px solid blue; */
  background: rgb(10, 235, 179);
  text-align: center;
  padding: 80px;
  border-radius: 10px;
}

.path-register{
  text-decoration: none;
  color: black;
}

.input-container{
  /* border: 1px solid blue; */
  width: 350px;
  margin: auto;
}

.user-info-input{
  text-align: right;
}